<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

<nav th:replace="fragments :: navigation"></nav>

<div class="container-fluid">

    <h1 th:text="${title}"></h1>

    <form method="post" action="/cart/remove-item/">

        <div th:each="item : ${cart.items}" class="form-group">
            <input type="checkbox" name="ids" th:value="${item.uid}" th:id="${item.uid}"/>
            <label th:text="${item.name}"></label>
        </div>

        <h1 th:text="${cart.computeTotal()}"></h1>

        <input type="submit" value="Remove from Cart" />
    </form>
</div>

</body>

</html>